.sidebar {
    height: 60%;
    width: 200px;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#FF8C7C;
    overflow-x: hidden;
    padding-top: 16px;
   
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: black;
    display: block;
   
   
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }