.content{
    background-color: sienna;
  height:70px;
  width:100%;
  margin:0;
  padding: 0;
  position:center;
  display:flex;
  justify-content: flex-start;
}
.menu{
    justify-content: center;
    margin-left: 25px;
}

ul{
  display:flex; 
  justify-content: center;
 margin:5px;
}
li{
    padding:10px;
    list-style-type: none;
   
}
.active{
    text-decoration: none;
}
.logo >i{
    margin-top: 2px;
  background: cyan;
  border-radius:50% ;
  padding: 3px 3px;
}

ul>li>i{
    margin-right: 5px;
}
span{
    color: darkgrey;
}